################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.environment/Python35
/.vs
/env
/Tobo-Cogs.pyproj
/Tobo-Cogs.sln
/info_maker.py
.pylintrc
.vscode/settings.json
