[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {git = "https://github.com/Rapptz/discord.py", editable = true, ref = "rewrite", extras = ["voice"]}
red-discordbot = {git = "https://github.com/Cog-Creators/Red-DiscordBot", editable = true, ref = "V3/develop", extras = ["voice", "mongo"]}
sphinx = "*"

[dev-packages]
black = "*"
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-docstrings" = "*"
pydocstyle = "*"
pytest = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
