aiohttp==1.0.5
async-timeout==1.2.1
chardet==3.0.3
discord.py==0.16.8
google-api-python-client==1.6.2
httplib2==0.10.3
multidict==2.1.6
oauth2client==4.1.0
pip==9.0.1
pyasn1==0.2.3
pyasn1-modules==0.0.9
r6sapi==0.3.0
rsa==3.4.2
setuptools==28.8.0
six==1.10.0
tabulate==0.7.7
uritemplate==3.0.0
websockets==3.3
